site_name: Avinesh Tripathi
site_url: https://avinesh.dev
repo_name: AvineshTripathi
repo_url: https://github.com/AvineshTripathi/

theme:
  name: material
  custom_dir: overrides
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.top
    - toc.follow
    - toc.integrate
    - search.suggest
    - search.highlight
    - content.code.copy
    - content.code.annotate
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/weather-sunny
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/weather-night
        name: Switch to light mode
  font:
    text: Roboto
    code: Roboto Mono
  icon:
    repo: fontawesome/brands/github

extra:
  generator: false
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/AvineshTripathi
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/in/avineshtripathi/
    - icon: fontawesome/solid/envelope
      link: mailto:work.avinesh@gmail.com

  analytics:
    provider: google
    property: !ENV [GOOGLE_ANALYTICS_PROPERTY] # Set this via env var or replace with G-XXXXXXXXXX

  feedback:
    title: Was this page helpful?
    ratings:
      - icon: material/emoticon-happy-outline
        name: This page was helpful
        data: 1
        note: >-
          Thanks for your feedback!
      - icon: material/emoticon-sad-outline
        name: This page could be improved
        data: 0
        note: >-
          Thanks for your feedback! Help us improve this page by
          opening an issue on GitHub.

plugins:
  - tags
  - search
  - awesome-pages
  - blog:
      post_dir: blog/posts
      post_url_date_format: yyyy/MM/dd
      post_url_format: "{date}/{slug}"
  - macros
  - rss:
      abstract_chars_count: 160

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.tabbed:
      alternate_style: true
  - attr_list
  - md_in_html

extra_css:
  - stylesheets/extra.css

nav:
  - Home: index.md
  - Projects: projects/index.md
  - Blog: blog/index.md
  - About: about.md

copyright: >
  Copyright &copy; 2026 <strong>Avinesh Tripathi</strong> &bull; 
  Software Engineer &bull; Cloud Native & Open Source